:root{
    /*
    *COLORS
    */
    --primary-color: rgb(254, 99, 15);
    --secondary-color: rgb(255, 191, 0);
    --white: rgb(255, 255, 255);
    --info-light-color: #dce1eb;
    --warning-color: rgb(255, 165, 0);
    --color-dark: #363949;
    --color-gray: rgba(132, 139, 200, 0.18);
    --info-color-dark:#7d8da1;
    --color-dark-variant:#a2a5a9 ;

    /*
    *BORDER RADIUS
    */

    --card-border-radius: 2rem;
    --border-radius-1: .4rem;
    --border-radius-2: .8rem;
    --border-radius-3: 1.2rem;

    /*
    *PADDING
    */

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    /*
    *BOX SHADOW
    */

    --box-shadow: 0 2rem 3rem var(--color-dark-variant);
}

*{
    margin: 0;
    top: 0;
    outline: 0;
    padding: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    box-sizing: border-box;
}

html{
    font-size: 14px;
}

body{
    width: 100vw;
    height: 100vh;
    font-family:poppins, sans-serif;
    font-size: 0.88rem;
    background-color: var(--white);
    user-select: none;
    overflow-x: hidden;
    color: var(--color-dark);
}

a{
    color: var(--color-dark);  
}

img{
    display: block;
    width: 100%;
}

h1{
    font-weight: 800;
    font-size: 1.8rem;
    color: var(--color-dark);
}

h2{
    font-size: 1.4rem;
    color: black;
}

h3{
    font-size: .87rem;
}

h4{
    font-size: .8rem;
}

h5{
    font-size: .77rem;
}

small{
    font-size: .75rem;
}

.profile-photo{
    width: 2.8rem;
    height: 2.8rem;
    overflow: hidden;
    border-radius: 50%;
}

.text-muted{
    color: var(--info-color-dark);
}

p{
    color: var(--color-dark-variant);
}

b{
    color: var(--color-dark);
}

.primary{
    color: red;
}

.danger{
    color: var(--primary-color);
}

.success{
    color: var(--primary-color);
}

.warning{
    color: rgb(177, 177, 7);
}

.container{
    display: grid;
    width: 90%;
    margin: 0 auto;
    gap: 1.8rem;
    background-color: var(--white);
    grid-template-columns: 14rem auto 23rem;
}

aside{
    height: 100vh;
    color: var(--white);
}

aside .top{
    background-color: rgb(248, 238, 238);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.4rem;
    padding: 10px;
    border-radius: var(--border-radius-2);
}

aside .logo {
    display: flex;
    gap: .8rem;
}

aside .logo img{
    height: 2rem;
    width: 2rem;
}

.aside .close{
    display: none;
}

/*
*SIDEBAR
*/

aside .sidebar{
    display: flex;
    flex-direction: column;
    height: 80vh;
    position: relative;
    top: 3rem ;
    border-radius: var(--border-radius-2);
    background-color: rgb(248, 238, 238);
}

aside h3{
    font-weight: 600;
}

aside .sidebar a{
    display: flex;
    color: var(--info-color-dark);
    margin-left: 2rem;
    gap: 1rem;
    align-items: center;
    position: relative;
    height: 3.7rem;
    transition: all 300ms ease;
}

aside .sidebar a span{
    font-size: 1.6rem;
    transition:  all 300ms ease;
}

aside .sidebar a:last-child{
    position: relative;
    top: 5rem;
    width: 100%;
}

aside .sidebar a.active{
    background-color: rgb(242, 209, 191);
    color: var(--primary-color);
    margin-left: 0;
}

aside .sidebar a.active::before{
    content: "";
    width: 6px;
    height: 100%;
    background-color: var(--primary-color);
}

aside .sidebar a.active span{
    color: var(--primary-color);
    margin-left: calc((1rem - 3px));
}

aside .sidebar a:hover{
    color: var(--primary-color);
}

aside .sidebar a:hover span{
    color: var(--primary-color);
    margin-left: calc(1rem - 3px);
}

aside .sidebar .message-count{
    background-color: rgb(235, 189, 178);
    border: 1px solid var(--primary-color);
    color: white;
    padding: 4px 10px;
    font-size: 10px;
    border-radius: var(--border-radius-1);
}

/*
*MAIN DASHBOARD
*/

main{
    margin-top: 1.4rem;
}

main .date{
    display: inline-block;
    background: rgb(242, 209, 191);
    border-radius: 5px;
    margin-top: 1rem;
    padding:  0.5rem 1.6rem;
}

main .date input[type = "date"]{
    background: transparent;
    color: var(--color-dark);
}

main .insights{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6rem;
}

main .insights > div{
    background-color: rgb(241, 223, 214);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-top: 1rem;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

main .insights > div:hover{
    box-shadow: none;
}

main .insights > div span{
    background-color: rgb(209, 102, 102);
    padding: .5rem;
    border-radius: 50%;
    color: black;
    font-size: 2rem;
}

main .insights > div.expenses span{
    background-color: var(--secondary-color);
}

main .insights > div.income span{
    background-color: rgb(100, 223, 100);
}

main .insights > div .middle{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main .insights h3{
    margin: 1rem 0 .6rem;
    font-size: 1rem;
}

main .insights .progress{
    position: relative;
    width: 92px;
    height: 92px;
    border-radius: 50%;
}

main .insights svg{
    width: 7rem;
    height: 7rem;
}

main .insights svg circle{
    fill: none;
    stroke: var(--primary-color);
    stroke-width: 14;
    stroke-linecap: round;
    transform: translate(5px, 5px);
    stroke-dasharray: 110;
    stroke-dashoffset: 92;
}

main .insights .sales svg circle{
    stroke-dashoffset: -30;
    stroke-dasharray: 200;
}

main .insights .expenses svg circle{
    stroke-dasharray: 80;
    stroke-dashoffset: 20;
}

main .insights .income svg circle{
    stroke-dashoffset: 35;
    stroke-dasharray: 110;
}

main .insights .progress .number{
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

main .insights small{
    margin-top: 1.6rem;
    display: block;
    font-size: 15px;
}

/*
* RECENT ORDERS SECTION
*/

main .recent-orders{
    margin-top: 2rem;
}

main .recent-orders h2{
    margin-bottom: .8rem;
}

main .recent-orders table{
    background: rgb(241, 223, 214);
    width: 100%;
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    text-align: center;
    box-shadow: var(--box-shadow);
    transition:  all 300ms ease;
}

main .recent-orders table:hover{
    box-shadow: none;
}

main table tbody td{
    border-bottom: 1px solid var(--color-gray);
    color: var(--color-dark-variant);
    height: 2.8rem;
}

main table tbody tr:last-child td{
    border: none;
}

main .recent-orders a{
    text-align: center;
    display: block;
    margin: 1rem auto;
    color: var(--color-dark);
    font-size: 14px;
}